<section>
    <div class="content">
        <h2>Lorem ipsum dolor sit amet, consectetur</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
            dipisci dolorem iste modi praesentium quas, similique sint? A beatae explicabo quisquam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Amet assumenda excepturi minima nisi non, obcaecati sunt totam. Esse facilis in labore nam.
            Adipisci architecto ducimus eligendi hic quo repellat voluptatum?
        </p>
    </div>
</section>


