<header class="animated fadeInDown" id="navbar">
    <nav>
        <h1>
            <a [routerLink]="['/']" class="brand">BE SRONG</a>
        </h1>
        <ul>
            <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                <a [routerLink]="['/']" class="nav-link" data-text="Home">Home</a>
            </li>

            <li routerLinkActive="active-link" class="nav-item">
                <a routerLink="/program-page" class="nav-link" data-text="Program">Program</a>
            </li>

            <li routerLinkActive="active-link" class="nav-item">
                <a routerLink="/trainers-page" class="nav-link" data-text="Trainers">Trainers</a>
            </li>

            <li routerLinkActive="active-link" class="nav-item">
                <a routerLink="/news-page" class="nav-link" data-text="News">News</a>
            </li>

            <li routerLinkActive="active-link" class="nav-item">
                <a [routerLink]="['/about-page']" class="nav-link" data-text="About">About</a>
            </li>

            <li routerLinkActive="active-link" class="nav-item">
                <a routerLink="/contact-page" class="nav-link" data-text="Contact">Contact</a>
            </li>

            <li>
                <button class="btn">Login</button>
            </li>
            <li>
                <button class="btn">Logout</button>
            </li>
        </ul>
    </nav>
</header>
<div id="page-wrap">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<footer>
    <div class="logo">
        <a [routerLink]="['/']" ><img src="../assets/gym%20(2).png"></a>
    </div>
    <div class="social">
        <a href="#"><img src="../assets/social-media/em.png"></a>
        <a href="#"><img src="../assets/social-media/face.png"></a>
        <a href="#"><img src="../assets/social-media/goo.png"></a>
        <a href="#"><img src="../assets/social-media/inst.png"></a>
        <a href="#"><img src="../assets/social-media/pint.png"></a>
    </div>
    <div class="copyright">
        <p>
            Copyright © 2020 by Theo. All rights reserved.
        </p>
    </div>
</footer>







