<section class="team-section">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>Our Team</h1>
            </div>
        </div>
        <div class="row">
            <div class="team-items">
                <div class="item">
                    <img src="../../assets/trainers-images/trainer1.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                            <h5>Nick Falke</h5>
                            <p>Body Specialist</p>
                            <div class="social-links">
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-twitter"></span></a>
                                <a href="https://www.instagram.com/falkefit/"><span class="fa fa-instagram"></span></a>
                                <a href=""><span class="fa fa-youtube"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../../assets/trainers-images/trainer2.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                            <h5>Aria Grapeful</h5>
                            <p>Yoga Trainer</p>
                            <div class="social-links">
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-twitter"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                                <a href=""><span class="fa fa-youtube"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../../assets/trainers-images/trainer3.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                            <h5>Anastasia</h5>
                            <p>Stretch Teacher</p>
                            <div class="social-links">
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-twitter"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                                <a href=""><span class="fa fa-youtube"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../../assets/trainers-images/trainer4.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                            <h5>Viktor Simkin</h5>
                            <p>Body Trainer</p>
                            <div class="social-links">
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-twitter"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                                <a href=""><span class="fa fa-youtube"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="team-items">
            <div class="item">
                <img src="../../assets/trainers-images/trainer1.jpg" alt="team" />
                <div class="inner">
                    <div class="info">
                        <h5>Nick Falke</h5>
                        <p>Body Specialist</p>
                        <div class="social-links">
                            <a href=""><span class="fa fa-facebook"></span></a>
                            <a href=""><span class="fa fa-twitter"></span></a>
                            <a href="https://www.instagram.com/falkefit/"><span class="fa fa-instagram"></span></a>
                            <a href=""><span class="fa fa-youtube"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../assets/trainers-images/trainer2.jpg" alt="team" />
                <div class="inner">
                    <div class="info">
                        <h5>Aria Grapeful</h5>
                        <p>Yoga Trainer</p>
                        <div class="social-links">
                            <a href=""><span class="fa fa-facebook"></span></a>
                            <a href=""><span class="fa fa-twitter"></span></a>
                            <a href=""><span class="fa fa-linkedin"></span></a>
                            <a href=""><span class="fa fa-youtube"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../assets/trainers-images/trainer3.jpg" alt="team" />
                <div class="inner">
                    <div class="info">
                        <h5>Anastasia</h5>
                        <p>Stretch Teacher</p>
                        <div class="social-links">
                            <a href=""><span class="fa fa-facebook"></span></a>
                            <a href=""><span class="fa fa-twitter"></span></a>
                            <a href=""><span class="fa fa-linkedin"></span></a>
                            <a href=""><span class="fa fa-youtube"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../assets/trainers-images/trainer4.jpg" alt="team" />
                <div class="inner">
                    <div class="info">
                        <h5>Viktor Simkin</h5>
                        <p>Body Trainer</p>
                        <div class="social-links">
                            <a href=""><span class="fa fa-facebook"></span></a>
                            <a href=""><span class="fa fa-twitter"></span></a>
                            <a href=""><span class="fa fa-linkedin"></span></a>
                            <a href=""><span class="fa fa-youtube"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
